<app-banner [title]="teamT"></app-banner>

  
  <div class="site-section" style="margin-left: 35%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form #addTeamForm="ngForm" (ngSubmit)="addTeam()">
            <div class="form-group">
                <label style="color: white;" for="">Team image
              <input type="text" class="form-control" [(ngModel)]="team.teamImg" placeholder="Team image" name="img">
            </label>
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="team.team" placeholder="Team Name" name="team">
            </div>
            
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.stadium" placeholder="stadium" name="stadium">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.Foundation" placeholder="Foundation" name="Foundation">
              </div>
            
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5"  value="Add">
            </div>
          </form>  
        </div>
        
      </div>
    </div>
  </div>

