<app-banner title="All matches"></app-banner>
<div class="container">
    <div class="row">
      <div class="col-lg-12" *ngFor="let match of matches" style="margin-bottom: 120px;">
        
        <div class="d-flex team-vs">
          <span class="score"><span [ngClass]="{
            'win':score(match.scoreOne,match.scoreTwo)=='0',
            'loss':score(match.scoreOne,match.scoreTwo)=='1',
            'draw':score(match.scoreOne,match.scoreTwo)=='2'
          }">{{match.scoreOne}}</span>
          -
          <span [ngClass]="{
            'win':score(match.scoreTwo,match.scoreOne)=='0',
            'loss':score(match.scoreTwo,match.scoreOne)=='1',
            'draw':score(match.scoreTwo,match.scoreOne)=='2'
          }">{{match.scoreTwo}}</span></span>
          <div class="team-1 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
              <h3>{{match.teamOne}} <span>(win)</span></h3>
              <ul class="list-unstyled">
                <li>Anja Landry (7)</li>
                <li>Eadie Salinas (12)</li>
                <li>Ashton Allen (10)</li>
                <li>Baxter Metcalfe (5)</li>
              </ul>
            </div>
          </div>
          <div class="team-2 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3>{{match.teamTwo}} <span>(loss)</span></h3>
              <ul class="list-unstyled">
                <li>Macauly Green (3)</li>
                <li>Arham Stark (8)</li>
                <li>Stephan Murillo (9)</li>
                <li>Ned Ritter (5)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

