<div class="post-entry">
    <a href="#">
      <img src={{newsItem.img}} alt="Image" class="img-fluid">
    </a>
    <div class="caption">
      <div class="caption-inner">
        <h3 class="mb-3">{{newsItem.title}}</h3>
        <div class="author d-flex align-items-center">
          <div class="img mb-2 mr-3">
            <img src={{newsItem.avatar}} alt="">
          </div>
          <div class="text">
            <h4>{{newsItem.author}}</h4>
            <span>{{newsItem.date}}</span>
          </div>
        </div>
      </div>
    </div> 
  </div>