<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">age</th>
      <th scope="col">position</th>
      <th scope="col">number</th>
      <th scope="col">image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of pageOfItems, let i=index">
      <th scope="row">{{player._id}}</th>
      <td>{{player.playerName}}</td>
      <td>{{player.age}}</td>
      <td>{{player.position}}</td>
      <td>{{player.number}}</td>
      <td><img [src]="player.img" alt="" style="width: 50px;"></td>
      <td><button class="btn btn-danger" (click)="deletePlayer(player._id)">delete</button>
        <button class="btn btn-info" (click)="displayPlayer(player._id)">display</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="card-footer pb-0 pt-3" style="display: flex;justify-content: center;align-items: center ;color: black;">
  <jw-pagination [pageSize]=5 [items]="players" (changePage)="onChangePage($event)"></jw-pagination>
 </div>